/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width:1700px) { 
  .lg_boldtitle{
    font-size: 34px;
    line-height: 34px;
  }
  .lg_number{
    font-size: 50px;
    line-height: 50px;
  }
  .lg_number_title{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1300px) and (max-width:1700px) {
  .slg_bjlogo{
    width: 24.97% !important;
  }
  .slg_logoUl_li img{
    margin: 0 0 0 120px !important;
  }
  .slg_dot li{
    width: 16px !important;
    height: 16px !important;
  }
  .slg_boldtitle{
    font-size: 30px;
    line-height: 30px;
    padding: 60px 0 80px !important;
  }
  .slg_number{
    font-size: 40px;
    line-height: 40px;
  }
  .slg_number_title{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 30px;
  }
  .slg_servicedata{
    margin-top: 4% !important;
  }
  /* 关于我们 */
  .slg_company{
    display: flex;
    justify-content: center;
  }
  .slg_companytext p:nth-child(1){
    font-size: 20px !important;
    line-height: 20px !important;
  }
  .companytext p[data-v-039c5b43]:nth-child(2), .companytext p[data-v-039c5b43]:nth-child(3){
    font-size: 16px !important;
    line-height: 34px !important;
  }
  .companytext p[data-v-039c5b43]:nth-child(4){
    font-size: 14px !important;
    line-height: 14px !important;
  }
  /* 思睿服务 */
  .slg_part li:nth-child(odd){
    padding-right: 100px;
    justify-content: flex-end;
  }
  .slg_devetext{
    padding: 0 !important;
  }
  .slg_joinusbj{
    height: 200px !important;
  }
  .slg_joinusbj p{
    line-height: 200px !important;
  }
  .slg_part1{
    width: 1391.5px !important;
  }
  .slg_company2{
    bottom: 0 !important;
    margin-right: 100px !important;
  }
  .slg_text{
    font-size: 14px !important;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width:1300px) {  
  .md_hidden{
    display:none !important;
  }
  .md_boldtitle{
    font-size: 40px;
    line-height: 40px;
  }
  .md_number{
    font-size: 30px;
    line-height: 30px;
  }
  .md_number_title{
    font-size: 14px;
  }
   /* 研究项目轮播 */
   .sm_imgtitle{
    font-size: 18px !important;
    line-height: 18px !important;
    margin:  2px 0 4px 0 !important; 
  }
  /* 关于我们 服务*/
  .md_company, .md_part{
    width: 100% !important;
  }
  .md_company p{
    text-align: center !important;
  }
  .md_companytext .md_companytext p:nth-child(2){
    font-size: 18px !important;
  }
  .md_companytext p:nth-child(1){
    font-size: 24px !important;
    line-height: 80px !important;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width:768px) and (max-width:992px) { 
  .sm_hidden{
    display:none !important;
  }
  .sm_boldtitle{
    font-size: 30px;
    line-height:30px;
  }
  .sm_number{
    font-size: 20px;
    line-height: 20px;
  }
  .sm_number_title{
    font-size: 14px;
  }
  .sm_servicetitle{
    font-size: 20px !important;
  }
  /* 研究项目轮播 */
  .sm_imgtitle{
    font-size: 16px !important;
    line-height: 16px !important;
    margin:  12px 0 4px 0 !important; 
  }
  .sm_imgtext{
    font-size: 14px !important;
    line-height: 14px !important;
  }
  /* 关于我们 服务 */
  .sm_company,.sm_part{
    width: 100% !important;
  }
  .sm_companytext,.sm_companytext p:nth-child(2){
    font-size: 16px !important;
  }
  .sm_companytext p:nth-child(1){
    font-size: 20px !important;
    line-height: 60px !important;
  }
}
/* 超小屏幕（平板，大于等于 768px） */
@media (max-width:768px) { 
  .xs_boldtitle{
    font-size: 20px;
    line-height: 20px;
  }
  .xs_number{
    font-size: 18px;
    line-height: 18px;
  }
  .xs_number_title{
    font-size: 18px;
  }
  .xs_servicetitle{
    font-size: 14px !important;
  }
  /* 研究项目轮播 */
  .xs_imgtitle{
    font-size: 14px !important;
    line-height: 14px !important;
    margin: 0 !important;
  }
  .xs_imgtext{
    font-size: 12px !important;
    line-height: 12px !important;
  }
}
/* 超小屏幕（平板，大于等于 360px） */
@media (min-width:360px) and (max-width:768px) { 
  .xxs_servicedata li{
    padding: 0 0px !important;
  }
}